@charset "UTF-8";
/* CSS Document */

html, body {
	margin: 0;
	padding: 0;
	background: rgb(241, 241, 241);
}

/*Columns*/
#container {
	width: 100%;
	height:100%;
	margin: 0 auto;
	background: rgb(241, 241, 241);
}

#header {
	padding: 10px;
	width: 100%;
	height: 60px;
	background: #333333;
}

#main {
	width: 100%;
	height: 500px;
}

#content1 {
	float: left;
	width: 40%;
	height: 400px;
	margin-left: 4%;
	margin-bottom: 100px;
	background: transparent; 
}

#content2 {
	float: left;
	text-align: left;
	width: 40%;
	height: 400px;
	margin-left: 10%;
	margin-right: 4%;
	margin-top: 80px;
	margin-bottom: 100px;
	background: #CCC;
	border: 1px solid;
	border-radius: 5px;
}

#line {
	width: 80%;
	margin-top: 20px;
	background: #000;
}

#footer {
	float: left;
	width: 100%;
	height: 60px;
	clear: both;
	padding: 10px;
	background: #333333;
}

/*Lists*/
#listInfo {
	list-style: none;
}

/*Text*/
#title {
	margin-top: 10px;
	margin-left: 10%;
	font-size: 40px;
	font: bold;
	color: rgb(241, 241, 241);
}

#benvinguts {
	text-align:justify;
	max-width: inherit;
}

#share {
	font-size: 40px;
	font-style: italic;
	color: #000;
}

#email {
	text-align: left;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 10%;
	margin-bottom: 0px;
}

#pass {
	text-align: left;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 10%;
	margin-bottom: 0px;
}

#signFree {
	text-align: center;
	font-size: 20px;
	margin-top: 20px;
	font-style: bold;
	margin-bottom: 0px;
}

/*Text Area*/
#taEmail {
	margin-left: 10%;
	border: 1px solid;
	border-radius: 5px;
	height: 30px;
	width: 80%;	
	resize: none;
}

#taPass {
	margin-left: 10%;
	border: 1px solid;
	border-radius: 5px;
	height: 30px;
	width: 80%;	
	resize: none;
}

/*Buttons*/
#sign_in {
	margin-top: 20px;
	margin-left: 35%;
	width: 30%;
	height: 40px;
	border: 1px solid;
	border-radius: 5px;
	outline: none;
	color: #FFF;
	border-color: #000;
	background: #333;
}

#sign_up {
	margin-top: 20px;
	margin-left: 30%;
	width: 40%;
	height: 60px;
	border: 1px solid;
	border-radius: 5px;
	outline: none;
	color: #FFF;
	border-color: #000;
	background: rgb(129, 18, 51);
}