@charset "UTF-8";
/* CSS Document */

html, body {
	margin: 0;
	padding: 0;
	background: rgb(241, 241, 241);
}

/*Columns*/
#container {
	width: 100%;
	height:100%;
	margin: 0 auto;
	background: rgb(241, 241, 241);
}

#header {
	padding: 10px;
	width: 100%;
	height: 60px;
	background: #333333;
}

#underHeader {
	padding: 10px;
	height: 80px;
}

#main {
	padding: 10px;
	width: inherit;
}

#content1 {
	float: left;
	width: 16%;
	height: auto;
	min-height: 700px;
	margin-left: 1%;
	margin-bottom: 1%;
	background: #fff;
	border: 1px solid;
	border-radius: 5px; 
}

#content2 {
	float: left;
	width: 60%;
	height: auto;
	min-height: 700px;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 1%;
	background: #fff;
	border: 1px solid;
	border-radius: 5px; 
}

#oferta {
	float: left;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 90%;
	border: 1px solid;
	border-radius: 5px;
	border-color: rgb(129, 18, 51);
	background-color: rgb(241, 241, 241);
}

#content3 {
	float: left;
	width: 16%;
	height: auto;
	min-height: 700px;
	margin-right: 1%;
	margin-bottom: 1%;
	background: #fff;
	border: 1px solid;
	border-radius: 5px; 
}

#footer {
	clear: both;
	padding: 10px;
	background: #ff9;
}

/*Lists*/
#listInfo {
	list-style: none;
}

/*Text*/
#title {
	margin-top: 10px;
	margin-left: 10%;
	font-size: 40px;
	font: bold;
	color: rgb(241, 241, 241);
}

#titleOfertes {
	font-size: 48px;
	font: bold;
	margin-top: 80px;
	margin-left: 5%;
	margin-bottom: 20px;
}

#user {
	margin-top: 10px;
	font: bold;
	font:Arial, Helvetica, sans-serif;
	font-size: 16px;	
}

#descripcion {
	margin-top: 5px;
	font:Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
}

#date {
	margin-top: 5px;
	font:Arial, Helvetica, sans-serif;
	font-size: 14px;
}

#bPublica {
	margin: 10%;
	height: 40px;
	width: 80%;
	border: 1px solid;
	border-radius: 5px;
	background: rgb(241,241,241);
	border-color: rgb(129, 18, 51);
	text-size: 24px;
}