@charset "UTF-8";
/* CSS Document */
dd{margin: 0;
	padding: 0}
dl{
	margin: 0;
	margin-left: 10%}

html, body {
	margin: 0;
	padding: 0;
	background: rgb(241, 241, 241);
}

/*Columns*/
#container {
	width: 100%;
	height:100%;
	margin: 0 auto;
	background: rgb(241, 241, 241);
}

#header {
	padding: 10px;
	width: 100%;
	height: 60px;
	background: #333333;
}

#underHeader {
	padding: 10px;
	height: 80px;
}

#main {
	padding: 10px;
	width: inherit;
}

#content1 {
	float: left;
	width: 16%;
	height: 800px;
	margin-left: 1%;
	margin-bottom: 1%;
	background: #fff;
	border: 1px solid;
	border-radius: 5px; 
}

#content2 {
	float: left;
	width: 60%;
	height: 800px;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 1%;
	background: #fff;
	border: 1px solid;
	border-radius: 5px; 
}

#content3 {
	float: left;
	width: 16%;
	height: 800px;
	margin-right: 1%;
	margin-bottom: 1%;
	background: #fff;
	border: 1px solid;
	border-radius: 5px; 
}

/*Text*/
#title {
	margin-top: 10px;
	margin-left: 10%;
	font-size: 40px;
	font: bold;
	color: rgb(241, 241, 241);
}

#titlePublicar {
	text-align: center;
	font-size: 36px;
	font: bold;
	margin-top: 30px;
	margin-bottom: 20px;
}

#nomServei {
	text-align: left;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 10%;
	margin-bottom: 0px;
}

#descripcio {
	text-align: left;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 10%;
	margin-bottom: 0px;
}

#dataCad {
	margin-top: 10px;
	margin-left: 10%;
}

#tDataCad {
	text-align: left;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 10%;
	margin-bottom: 0px;
}

#horesEstimades {
	text-align: left;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 10%;
	margin-bottom: 0px;
}

#tEsPuntual {
	margin-left: 10%;
}

#esPuntual_field {
	text-align: left;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 10%;
	margin-bottom: 0px;
}

/*Text Area*/
#taNomServei {
	border: 1px solid;
	border-radius: 5px;
	height: 30px;
	width: 80%;	
	resize: none;
}

#taDescripcio {
	border: 1px solid;
	border-radius: 5px;
	height: 100px;
	width: 80%;	
	resize: none;
}

#labelDataCad {
	label: none;
}

/*ComboBox*/
#cbCategoria {
	width: 40%;
	height: 30px;
	border: 1px solid;
	border-radius: 5px;
	margin-top: 20px;
	outline: none;
	color: #000;
	background: transparent;
}

#cbDataDia {
	width: 10%;
	height: 30px;
	border: 1px solid;
	border-radius: 5px;
	outline: none;
	color: #000;
	background: transparent;
	margin-left: 10%;
}

#cbDataMes {
	width: 10%;
	height: 30px;
	border: 1px solid;
	border-radius: 5px;
	outline: none;
	color: #000;
	background: transparent;
	margin-left: 1%;
}

#cbDataAny {
	width: 10%;
	height: 30px;
	border: 1px solid;
	border-radius: 5px;
	outline: none;
	color: #000;
	background: transparent;
	margin-left: 1%;
}

#cbHoresEstimades {
	width: 10%;
	height: 30px;
	border: 1px solid;
	border-radius: 5px;
	outline: none;
	color: #000;
	background: transparent;
	margin-left: 10%;
}

/*Button*/
#proposarCategoria {
	margin-top: 20px;
	margin-left: 10%;
	width: 25%;
	height: 30px;
	border: 1px solid;
	border-radius: 5px;
	outline: none;
	color: #000;
	background: rgb(241, 241, 241);
}

#publicar {
	margin-left: 25%;
	margin-top: 20px;
	width: 20%;
	height: 50px;
	border: 1px solid;
	border-radius: 5px;
	background: #333;
	color: #FFF;
	font-size: 18px;
}

#cancel {
	margin-left: 10%;
	background:transparent;
	border-color: transparent;
	font: bold;
	font-size: 18px;
}

/*radioButton*/
#rbSi {
	margin-left: 10%;
}

#rbNo {
	margin-left: 5%
}
.info{display:none
}
.error{
	margin: 0;
	margin-left: 10%;
	padding: 0;
	color: rgb(255,0,0)
}

.error label {
	color: #000;
}

dd.error {
	margin-left: 0;
}
