@charset "UTF-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
}

body {
	background: rgb(241, 241, 241);
}

#topbar {
	width: inherit;
	height: 80px;
	margin-top: 0px;
	background: #333333;
}

#topbar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#topbar ul li {
	display: inline;
}

#title {
	font-size: 60px;
	font: bold;
	margin-left: 100px;
	margin-bottom: 10px;
	color: rgb(241, 241, 241);
}

#ofertas {
	margin-top: 100px;
	margin-left: 200px;
	margin-right: 200px;
	height: 500px;
	border: solid;
	border-width: 1px;
	-webkit-border-radius: 5px;
	border-color: #000;
}

#oferta {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	border: solid;
	border-width:: 1px;
	-webkit-border-radius: 5px;
	border-color: #000;
}

/*Buttons*/
#contact {
	margin-left: 100px;
	font-family: Helvetica;
	font-size: 14px;
	color: #050505;
	padding: 15px 24px;
	background: -moz-linear-gradient(
	top,
	#f1f1f1 0%,
	#f1f1f1);
	background: -webkit-gradient(
	linear, left top, left bottom, 
	from(#f1f1f1),
	to(#f1f1f1));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #949494;
	-moz-box-shadow:
	0px 1px 3px rgba(000,000,000,0.5),
	inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
	0px 1px 3px rgba(000,000,000,0.5),
	inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
	0px 1px 3px rgba(000,000,000,0.5),
	inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
	0px -1px 0px rgba(000,000,000,0.2),
	0px 1px 0px rgba(255,255,255,1);
}

#about, #sign_in, #sign_up {
	margin-left: 20px;
	font-family: Helvetica;
	font-size: 14px;
	color: #050505;
	padding: 15px 24px;
	background: -moz-linear-gradient(
	top,
	#f1f1f1 0%,
	#f1f1f1);
	background: -webkit-gradient(
	linear, left top, left bottom, 
	from(#f1f1f1),
	to(#f1f1f1));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #949494;
	-moz-box-shadow:
	0px 1px 3px rgba(000,000,000,0.5),
	inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
	0px 1px 3px rgba(000,000,000,0.5),
	inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
	0px 1px 3px rgba(000,000,000,0.5),
	inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
	0px -1px 0px rgba(000,000,000,0.2),
	0px 1px 0px rgba(255,255,255,1);
}
